.button {
  display: inline-block;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.button span {
  display: inherit;
}

.primary {
  color: var(--white);
  background-color: var(--primary);
}

.primary svg {
  fill: var(--white);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.ghost {
  border: 1px solid var(--grey-light);
  color: var(--black);
  background: none;
}

.ghost svg {
  transition: fill .3s ease-in-out;
}

.ghost:hover {
  color: var(--white);
  background-color: var(--primary);
}

.ghost:hover svg {
  fill: var(--white)
}

.arrow {
  display: block;
  margin-left: 10px;
}

.down {
  transform: rotate(90deg);
  transition: transform .3s ease-in-out;
}